@model BookingApp.Models.User

@{
    ViewData["Title"] = "تفاصيل المستخدم";
}

<h1>تفاصيل</h1>
<h4>المستخدم</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance) €
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accommodations)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Accommodations.Count != 0)
            {

                <table class="table">
                    <tr>
                        <th>الاسم</th>
                        <th>النوع</th>
                        <th>العنوان</th>
                        <th>الوصف</th>
                    </tr>
                    @foreach (var item in Model.Accommodations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @item.Address.ToString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>ليس لديه منزل</p>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تعديل</a> |
    <a asp-action="Index">عودة إلى القائمة</a>
</div>
